<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-iov-ocrplateid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>OcrplateidSmart</name>
	<preference name="COMPANY_NAME" default="" />
    <preference name="DEVCODE_KEY" default="" />
	<js-module name="OcrplateidSmart" src="www/OcrplateidSmart.js">
		<clobbers target="cordova.ocrplateidsmart" />
	</js-module>
	<!-- Hooks -->
	<hook src="scripts/app.js" type="before_plugin_install"/>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="OcrplateidSmart">
				<param name="android-package" value="ocrplateid.OcrplateidSmart" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/java/OcrplateidSmart.java" target-dir="app/src/main/java/ocrplateid" />
			<source-file src="src/android/java/App.java" target-dir="app/src/main/java/ocrplateid" />
	
		<framework src="src/android/ocrplateid.gradle" custom="true" type="gradleReference" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="OcrplateidSmart">
				<param name="ios-package" value="OcrplateidSmart" />
			</feature>
		</config-file>
		<config-file parent="CompanyName" target="*-Info.plist">
            <string>$COMPANY_NAME</string>
        </config-file>
        <config-file parent="OcrplateidSmart" target="*-Info.plist">
            <dict>
                <key>DEVCODE_KEY</key>
                <string>$DEVCODE_KEY</string>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>应用需要您的同意,才能访问相机</string>
        </config-file>
		<header-file src="src/ios/OcrplateidSmart.h" />
        <source-file src="src/ios/OcrplateidSmart.m" />
		<header-file src="src/ios/camera/WTOverView.h" />
        <source-file src="src/ios/camera/WTOverView.m" />
        <header-file src="src/ios/camera/WTPlateIDCameraViewController.h" />
        <source-file src="src/ios/camera/WTPlateIDCameraViewController.mm" />

		<source-file src="lib/ios/libPlateIDOCR.a" framework="true" />
        <header-file src="lib/ios/PlateFormat.h" />
		<header-file src="lib/ios/PlateIDOCR.h" />
		<header-file src="lib/ios/PlateResult.h" />
        <resource-file src="lib/ios/wtproject.lsc" />
        <framework src="libxml2.tbd" weak="true" />
        
        <resource-file src="lib/ios/camera_back.png" />
        <resource-file src="lib/ios/camera_flash_off.png" />
        <resource-file src="lib/ios/camera_flash_on.png" />
		
	</platform>
</plugin>
